button{
    background-color: green;
    font-size: 16px;
    padding: 15px 30px;
    color: white;
    width: 100px;
    border-radius: 10px;
    border: 2px solid black;
}

/* .count{
    font-size: 50px;
    padding: 15px 30px;
} */